.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navbar {
  background-color: white; /* Change background color to white */
  padding: 10px 20px;
  text-align: center; /* Align text to the left */
  border-bottom: 1px solid #999999;
}

.nav-link {
  color: black; /* Change the font color to black */
  text-decoration: none; /* Remove underlines from links */
  margin: 0 15px; /* Add horizontal margin to separate links */
  font-size: 22px; /* Set font size */
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline; /* Add underline on hover for visual feedback */
}
