  .table {
    border-collapse: collapse;
    width: 60%;
    margin: 0 auto;
  }
  
  .table th,
  .table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    width: 160px;
  }
  
  .table th {
    background-color: #4CAF50;
    color: white;
  }