stonk_backend/__pycache__/db.cpython-313.pyc
stonk_backend/__pycache__/app.cpython-313.pyc
stonk_backend/__pycache__/stock_utils.cpython-313.pyc
stonk_backend/__pycache__/technical.cpython-313.pyc
stonk_backend/__pycache__/fundamental.cpython-313.pyc
